{% extends 'app/employer/base1.html' %}
{% load static %}
{% block title %}

        <title>JobPortal - Update Job</title>
        
{% endblock %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Update Job</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'employerindex' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Update Job</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    
                                    
                                    <form action="{% url 'postjobdata' pk=request.session.id %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if msg %}    
                                        <strong><p style="color:green; text-align: center;">{{msg}}</p></strong> 
                                        
                                        <hr>
                                        <br>  
                                        {% endif %}
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="jobtitle">Job Title</label>
                                                    <input class="form-control py-4" id="jobtitle" type="text" placeholder="e.g. Web Design" name="jobtitle" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="applicationDeadline">Application Deadline</label>
                                                    <input class="form-control py-4" id="applicationDeadline" type="date" name="app_deadline" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="Jobtype">Job Type</label>
                                                    <select class="form-control" style="height: 50px;" id="Jobtype" name="jobtype" >
                                                        <option>Full Time</option>
                                                        <option>Part Time</option>
                                                        <option>Freelance</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="jobCategory">Job Category</label>
                                                    <select class="form-control" style="height: 50px;" id="jobCategory" name="jobcategory" >
                                                        <option>Web Design</option>
                                                        <option>Ui Ux Design</option>
                                                        <option>WordPress Developer</option>
                                                        <option>React Developer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="salaryStart">Salary Start</label>
                                                    <input class="form-control py-4" id="salaryStart" type="text" name="salarystart" placeholder="e.g. 5k" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="salaryEnd">Salary End</label>
                                                    <input class="form-control py-4" id="salaryEnd" type="text" name="salaryend" placeholder="e.g. 10k" />
                                                </div>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="Gender">Gender</label>
                                                    <select class="form-control" style="height: 50px;" id="jobGender" name="jobgender" >
                                                        <option>Any</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="jobExperience">Experience</label>
                                                    <select class="form-control" style="height: 50px;" id="jobExperience" name="experience" >
                                                        <option>1 Year to 2 Year</option>
                                                        <option>2 Year to 3 Year</option>
                                                        <option>3 Year to 4 Year</option>
                                                        <option>4 Year to 5 Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="jobEducation">Education</label>
                                                    <select class="form-control" style="height: 50px;" id="jobEducation" name="education" >
                                                        <option>Postdoc</option>
                                                        <option>Ph.D.</option>
                                                        <option>Master</option>
                                                        <option>Bachelor</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="JobLocation">Job Location</label>
                                                    <input class="form-control py-4" id="JobLocation" type="text" name="joblocation" placeholder="e.g. Gujarat" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="Vacancy">Vacancy</label>
                                                    <input class="form-control py-4" id="vacancy" type="number" name="vacancy" placeholder="e.g. 10" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1" for="jobDescription">Description</label>
                                            <textarea class="form-control" id="jobDescription" name="jobdesp" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1" for="jobRespon">Responsibilities</label>
                                            <textarea class="form-control" id="jobRespon" name="jobrespon" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1" for="job-edu-exp">Education + Experience</label>
                                            <textarea class="form-control" id="job-edu-exp" name="jobeduexp" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1" for="job-benefits">Benefits</label>
                                            <textarea class="form-control" id="job-benefits" name="jobbenedits" rows="5"></textarea>
                                        </div>
                                        <div class="row justify-content-center">
                                        <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary px-5">Post Job</button></div>
                                           
                                        </div>
                                    
                                    </form>
                                
                                
                                
                                </p>
                            </div>
                        </div>

                    </div>
                </main>
{% endblock %}