{% extends 'app/admin/base1.html' %}
{% load static %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Employer List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Employer List</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Employer
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Master Table Id</th>
                                                <th>Employer Id</th>
                                                <th>Employer Firstname</th>
                                                <th>Employer Lastname</th>
                                                <th>Employer Email</th>
                                                <th>Employer Contact</th>
                                                <th>is_verified</th>
                                                <th>is_created</th>
                                                <th>is_update</th>
                                                <th>is_active</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Master Table Id</th>
                                                <th>Employer Id</th>
                                                <th>Employer Firstname</th>
                                                <th>Employer Lastname</th>
                                                <th>Employer Email</th>
                                                <th>Employer Contact</th>
                                                <th>is_verified</th>
                                                <th>is_created</th>
                                                <th>is_update</th>
                                                <th>is_active</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                
                                        {% if key_emp %}
                                        {% for i in key_emp %}
                                        <tbody>
                                            <tr>
                                                <td>{{i.m_id.id}}</td>
                                                <td>{{i.id}}</td>
                                                <td>{{i.Firstname}}</td>
                                                <td>{{i.Lastname}}</td>
                                                <td>{{i.m_id.Email}}</td>
                                                <td>{{i.Contact}}</td>
                                                <td>{{i.m_id.is_verified}}</td>
                                                <td>{{i.m_id.is_created}}</td>                                               t
                                                <td>{{i.m_id.is_updated}}</td>
                                                <td>{{i.m_id.is_active}}</td>
                                                <td>
                                                    <form action="{% url 'emp-checkpage' pk=i.m_id.id %}">
                                                        <input class="btn btn-primary" type="submit" value="Edit">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="{% url 'emp-delete' pk=i.m_id.id %}" onsubmit="emp_delete()">
                                                        <input class="btn btn-danger" type="submit" value="Delete">
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <script>
                                            function emp_delete(){
                                                alert("Employer Successfully Deleted");
                                            }
                                        </script>
                                        {% endfor %}
                                        {% endif %}
                            
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}